{% extends 'base.html.twig' %}

{% block title %}Symfony notes{% endblock %}

{% block body %}
<section class="p-5 bg-dark text-light">
    <div class="container">
        <h2>How to use <span class="text-warning">Symfony Framework</span></h2>
        <div class="row justify-content-between border mt-5">
            {{ include('home/init.twig') }}
        </div>
        <div class="row justify-content-between border mt-5">
            {{ include('home/general.twig') }}
        </div>
        <div class="row justify-content-between border mt-5">
            {{ include('home/database.twig') }}
        </div>
    </div>
</section>
{% endblock %}
