{% extends 'base.html.twig' %}

{% block title %}Symfony notes{% endblock %}

{% block body %}
<section class="p-5 bg-dark text-light">
    <div class="container">
        <h2>Init the project in <span class="text-warning">Symfony Framework</span></h2>
        <div class="row g-4 mt-4">
            <div class="col-lg-6 col-md-12">
                <div class="card bg-dark text-light border">
                    <div class="card-body">
                        <h3 class="card-title text-warning">Init the project</h3>
                        <ul class="list-group">
                            <li class="list-group-item">symfony new symfony_resume --version="5.3"</li>
                            <li class="list-group-item">cd symfony_resume</li>
                            <li class="list-group-item">symfony server:start -d</li>
                        </ul>
                        <img src="img/1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card bg-dark text-light border">
                    <div class="card-body">
                        <h3 class="card-title">Java Course</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-lg btn-info">See more ...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card bg-dark text-light border">
                    <div class="card-body">
                        <h3 class="card-title">Java Course</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-lg btn-info">See more ...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card bg-dark text-light border">
                    <div class="card-body">
                        <h3 class="card-title">Java Course</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-lg btn-info">See more ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
