<div class="col-lg-4 col-md-6 p-2">
    <div class="card-body">
        <h3 class="card-title text-warning mb-2">Init the project</h3>
        <ul>
            <li>symfony new symfony_resume --version="5.3"</li>
            <li>cd symfony_resume</li>
            <li>symfony server:start -d</li>
        </ul>
        <img src="img/1.png" alt="" class="img-fluid mb-2">
        <ul>
            <li>symfony console (available commands list)</li>
            <li>composer require make twig annotations</li>
            <li>symfony console</li>

        </ul>
    </div>
</div>
<div class="col-lg-auto col-md-6 p-2">
    <div class="card-body">
        <h3 class="card-title text-warning mb-2">GIT & GitHub</h3>
        <ul>
            <li>git status</li>
            <li>git add .</li>
            <li>git commit -m "init"</li>
            <li>git remote add origin [remote-repo]</li>
            <li>git push -u origin master --force</li>
        </ul>
        <a href="https://github.com/LightEducation/symfony_notes" class="btn btn-light float-end">@github.com</a>
    </div>
</div>
<div class="col-lg-3">
    <img src="img/symfony.svg" class="d-lg-block d-none img-fluid rounded float-end" alt="...">
</div>