<div class="row g-4 justify-content-around">
    <div class="col-lg-6 col-md-12 border p-3">
        <div class="card-body">
            <h3 class="card-title text-warning">Init the project</h3>
            <ul>
                <li>symfony new symfony_resume --version="5.3"</li>
                <li>cd symfony_resume</li>
                <li>symfony server:start -d</li>
            </ul>
            <img src="img/1.png" alt="" class="img-fluid w-50 float-end">
        </div>
    </div>
    <div class="col-lg-5 col-md-12 border p-3">
        <div class="card-body">
            <h3 class="card-title text-warning">GIT & GitHub</h3>
            <ul>
                <li>git status</li>
                <li>git add .</li>
                <li>git commit -m "init"</li>
                <li>git remote add origin [remote-repo]</li>
                <li>git push -u origin master --force</li>
            </ul>
            <a href="https://github.com/LightEducation/symfony_notes" class="btn btn-light float-end">@github.com</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 border p-3">
        <div class="card-body">
            <h3 class="card-title text-warning">Init the project</h3>
            <ul>
                <li>symfony new symfony_resume --version="5.3"</li>
                <li>cd symfony_resume</li>
                <li>symfony server:start -d</li>
            </ul>
            <img src="img/1.png" alt="" class="img-fluid w-50 float-end">
        </div>
    </div>
    <div class="col-lg-5 col-md-12 border p-3">
        <div class="card-body">
            <h3 class="card-title text-warning">GIT & GitHub</h3>
            <ul>
                <li>git status</li>
                <li>git add .</li>
                <li>git commit -m "init"</li>
                <li>git remote add origin [remote-repo]</li>
                <li>git push -u origin master --force</li>
            </ul>
            <a href="https://github.com/LightEducation/symfony_notes" class="btn btn-light float-end">@github.com</a>
        </div>
    </div>
</div>